:root {
	--dark: #292C35;
	--light: #F1F1F1;
	--label: #111;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Pacifico', cursive;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    transition: background-color .5s;
}

.dark {
    background-color: var(--dark);
}

.light {
    background-color: var(--light);
}

#greetings-text {
    font-size: 6em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 100%;
    text-align: center;
}

#switcher-container {
    background-color: var(--label);
    border-radius: 25px;
    width: 65px;
    display: flex;
    padding: 5px;
    justify-content: space-between;
    cursor: pointer;
}

#button-switcher {
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 100px;
    position: relative;
    left: 0;
    top: 0;
    transform: translate(-20px, -30px);
    transition: transform .25s;
    cursor: pointer;
}